## Task 1

### Q1. Install Jupyter notebook and run the first program and share the screenshot of the output.

#### Answer not required as mentioned by Sudhanshu.

### Q2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
for a in range(2000, 3201):
  if (a%7)==0:
        b=a/5.0
        if (b%5)!=0:
            print(str(a)+",", end=" ")

2002, 2009, 2016, 2023, 2030, 2037, 2044, 2051, 2058, 2065, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2135, 2142, 2149, 2156, 2163, 2170, 2177, 2184, 2191, 2198, 2205, 2212, 2219, 2226, 2233, 2240, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2310, 2317, 2324, 2331, 2338, 2345, 2352, 2359, 2366, 2373, 2380, 2387, 2394, 2401, 2408, 2415, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2485, 2492, 2499, 2506, 2513, 2520, 2527, 2534, 2541, 2548, 2555, 2562, 2569, 2576, 2583, 2590, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2660, 2667, 2674, 2681, 2688, 2695, 2702, 2709, 2716, 2723, 2730, 2737, 2744, 2751, 2758, 2765, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2835, 2842, 2849, 2856, 2863, 2870, 2877, 2884, 2891, 2898, 2905, 2912, 2919, 2926, 2933, 2940, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3010, 3017, 3024, 3031, 3038, 3045, 3052, 3059, 3066, 3073, 3080, 3087, 3094, 3101, 3108, 3115, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3185, 3192, 3199,

### Q3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
FullName = input("Enter your full-name: ")

Enter your full-name: Chinmay Jape

In [4]:
print(FullName[::-1])

epaJ yamnihC

### Q4. Write a Python program to find the volume of a sphere with diameter 12 cm.

### Formula: V=4/3 * Ï€ * r 3

In [5]:
pi = 3.14
r = int(12/2)
V = 4/3*(pi)*(r^3)
print('The volume of the sphere is:',int(V))

The volume of the sphere is: 20

## Task 2

### Q1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [6]:
values = input("Input some comma seprated numbers : ")

Input some comma seprated numbers : 2,3,5,7,9

In [17]:
list = values.split(",")
print('List : ',list)

List :  ['2', '3', '5', '7', '9']

### Q2. Create the pattern mentioned in the solution using nested for loop in Python.

### Approach 1

In [9]:
num=5;
for i in range(num):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(num,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Approach 2 (Scalable)

In [10]:
num = int(input("Enter the number of rows"))

Enter the number of rows5

In [11]:
for i in range(1, num+1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()
    
for i in range(num,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

### Q3. Write a Python program to reverse a word after accepting the input from the user.
####        Sample Output:
####            Input word: AcadGild
####            Output: dilGdacA

In [12]:
message = 'AcadGild'

print(message[::-1])

dliGdacA

### Q4. Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

### Approach 1

In [14]:
message = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"

a = message[0:24]
b = message[25:87]
c = message[88:127]
d = message[128:]

print(a,'\n\t',b,'!','\n\t\t',c,'\n\t\t',d)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens

### Approach 2

In [15]:
message = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"

print(message.format('\n\t','!\n\t\t','\n\t\t',':'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens: